h2 {
  font-size: 18px;
  margin: 0 0 15px;
}

.login-form {
  width: 340px;
  margin: 30px auto;
}

.login-form form {
  padding: 30px;
}

.form-control,
.btn {
  height: 36px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

.remember-me {
  margin: 8px 0 0 12px;
}

.error {
  border: 1px solid #ee4444 !important;
}

.ignorePaddin {
  padding-left: 0px !important;
  padding-right: 5px !important;
}

label.error {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  background-color: #dcdcdc;
  border: 1px solid #bbbbbb !important;
  border-radius: 4px;
  padding: 5px;
}

.clsError {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  background-color: #dcdcdc;
  border: 1px solid #bbbbbb !important;
  border-radius: 4px;
  padding: 5px;
}

.btn {
  background-color: #0696d7 !important;
  border-radius: 4px;
}

h2 {
  margin: 48px 0 24px 0;
}

.welcomLabel {
  margin-bottom: 0px !important;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.nameLabel {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
}

.backBtn {
  font-size: 25px;
  color: #0696d7;
  font-weight: bold;
  cursor: pointer;
}

.alertDiv {
  position: absolute;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-color: #38abdf;
  opacity: 0.7;
  border-radius: 4px;
  padding: 5px;
}

.footer {
  clear: both;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 3px;
  text-align: center;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}

.container {
  margin-top: -14px;
}
